@if (Model.UsersWithEstoque != null && Model.UsersWithEstoque.Any())
{
    <h3>Usuários</h3>
    <ul class="list-group">
        @foreach (var userWithEstoque in Model.UsersWithEstoque)
        {
            <li class="list-group-item">
                <span>@userWithEstoque.UserName</span>
                <!-- Botão de exclusão de usuário -->
                <form method="post" asp-page-handler="DeleteUser" style="display: inline;">
                    <input type="hidden" name="userId" value="@userWithEstoque.UserId" />
                    <button type="submit" class="btn btn-excluir" onclick="return confirm('Tem certeza que deseja excluir este usuário?')">Excluir Usuário</button>
                </form>
            </li>

            <h4>@userWithEstoque.UserName</h4>
            @if (userWithEstoque.EstoqueItems.Any())
            {
                <ul class="list-group">
                    @foreach (var item in userWithEstoque.EstoqueItems)
                    {
                        <li class="list-group-item">
                            <div>
                                <span>@item.Nome</span>
                                <span>@item.Quantidade</span>
                                <!-- Botão de exclusão de item de estoque -->
                                <form method="post" asp-page-handler="DeleteItem" style="display: inline;">
                                    <input type="hidden" name="itemId" value="@item.ItemId" />
                                    <button type="submit" class="btn btn-excluir" onclick="return confirm('Tem certeza que deseja excluir este item de estoque?')">Excluir Item</button>
                                </form>
                            </div>
                        </li>
                    }
                </ul>
            }
            else
            {
                <p>Nenhum item de estoque encontrado para este usuário.</p>
            }
        }
    </ul>
}
else
{
    <p>Nenhum usuário encontrado.</p>
}
