@page
@model EstoqueWEB.Pages.LocalModel
@{
    ViewData["Title"] = "Gerenciador de Estoque";
}

<style>
    .titulo {
        text-align: center;
    }

    .btn-salvar {
        background-color: #28a745;
        border-color: #28a745;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
    }

        .btn-salvar:hover {
            background-color: #218838;
            border-color: #1e7e34;
        }

    .form-control {
        background-color: #f0f0f0;
    }

    .filter-btn {
        background-color: #007bff;
        border-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.3s;
    }

        .filter-btn:hover {
            background-color: #0056b3;
            border-color: #004085;
            transform: scale(1.05);
        }

    .filter-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .filter-section {
        display: none;
        margin-left: 10px;
        transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
    }

        .filter-section.show {
            display: block;
            max-height: 100px; /* Ajuste conforme necessário */
            opacity: 1;
        }
</style>

<h2 class="titulo">Gerenciar Estoque</h2>

@if (TempData["Message"] != null)
{
    <div id="message" class="alert alert-success">
        @TempData["Message"]
    </div>
}
@if (TempData["Error"] != null)
{
    <div id="error" class="alert alert-danger">
        @TempData["Error"]
    </div>
}

<script>
    setTimeout(function () {
        var message = document.getElementById("message");
        if (message) {
            message.style.display = "none";
        }
        var error = document.getElementById("error");
        if (error) {
            error.style.display = "none";
        }
    }, 5000);

    function toggleFilter() {
        var filterSection = document.getElementById("filterSection");
        if (filterSection.classList.contains('show')) {
            filterSection.classList.remove('show');
        } else {
            filterSection.classList.add('show');
        }
    }
</script>

<div class="row">
    <div class="col-md-6">
        <h4>Adicionar novo Equipamento</h4>
        <form method="post" asp-page-handler="Post" class="form">
            <div class="form-group">
                <label asp-for="Estoque.Chamado"></label>
                <input asp-for="Estoque.Chamado" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Estoque.Nome"></label>
                <input asp-for="Estoque.Nome" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Estoque.Cargo"></label>
                <input asp-for="Estoque.Cargo" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Estoque.Patrimonio"></label>
                <input asp-for="Estoque.Patrimonio" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Estoque.Modelo"></label>
                <input asp-for="Estoque.Modelo" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Estoque.RQ"></label>
                <input asp-for="Estoque.RQ" class="form-control" />
                <p></p>
            </div>
            <button type="submit" class="btn btn-salvar">Salvar</button>
        </form>
    </div>
</div>

<hr />

<div>
    <div class="filter-container">
        <h4>Itens de Estoque Existentes</h4>
        <div>
            <button type="button" class="filter-btn" onclick="toggleFilter()">Filtro</button>
            <div id="filterSection" class="filter-section">
                <form method="get" asp-page-handler="Filter" class="form-inline">
                    <div class="form-group">
                        <select id="filterStatus" name="status" class="form-control">
                            <option value="">Todos</option>
                            <option value="configurando">Configurando</option>
                            <option value="aguardando">Aguardando retirada</option>
                            <option value="entregue">Entregue</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Aplicar Filtro</button>
                </form>
            </div>
        </div>
    </div>
    @if (Model.ItensDeEstoque == null || !Model.ItensDeEstoque.Any())
    {
        <p>Não há itens de estoque disponíveis.</p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Chamado</th>
                    <th>Nome</th>
                    <th>Cargo</th>
                    <th>Patrimonio</th>
                    <th>Modelo</th>
                    <th>RQ</th>
                    <th>Status</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var estoque in Model.ItensDeEstoque)
                {
                    <tr>
                        <td>@estoque.Id</td>
                        <td>@estoque.Chamado</td>
                        <td>@estoque.Nome</td>
                        <td>@estoque.Cargo</td>
                        <td>@estoque.Patrimonio</td>
                        <td>@estoque.Modelo</td>
                        <td>@estoque.RQ</td>
                        <td>
                            <form method="post" asp-page-handler="UpdateStatus" asp-route-id="@estoque.Id">
                                <select name="status" class="form-control">
                                    @{
                                        var configurandoSelected = estoque.Status == "configurando" ? "selected" : "";
                                        var aguardandoSelected = estoque.Status == "aguardando" ? "selected" : "";
                                        var entregueSelected = estoque.Status == "entregue" ? "selected" : "";
                                    }
                                    <option value="configurando" selected="@configurandoSelected">Configurando</option>
                                    <option value="aguardando" selected="@aguardandoSelected">Aguardando retirada</option>
                                    <option value="entregue" selected="@entregueSelected">Entregue</option>
                                </select>
                            </form>
                        </td>
                        <td>
                            <form method="post" asp-page-handler="Delete" asp-route-id="@estoque.Id" style="display:inline;">
                                <button type="submit" class="btn btn-danger">Excluir</button>
                            </form>
                            <a href="/Local/Edit?id=@estoque.Id" class="btn btn-primary">Editar</a>
                            <form method="post" asp-page-handler="Export" asp-route-id="@estoque.Id" style="display:inline;">
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
